@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body {
    @apply bg-dark-bg text-white antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
